:root {
  --bs-body-font-family: "Raleway", sans-serif;
}

.h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.h3 {
  font-size: 20px;
  font-weight: 500;
}

.h4 {
  font-size: 18px;
  font-weight: 400;
}

.font-btn {
  font-size: 16px;
  font-weight: 500;
}

.h5 {
  font-size: 16px;
  font-weight: 500;
}

.h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.m1 {
  font-size: 33px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.m2 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.m3 {
  font-size: 18px;
  font-weight: 500;
}

.m4 {
  font-size: 16px;
  font-weight: 400;
}

.m5 {
  font-size: 14px;
  font-weight: 500;
}

.m5-reg {
  font-size: 16px;
  font-weight: 400;
}

.color-lighter {
  color: rgba(95, 99, 113, 0.6);
}

.offcanvas {
  --bs-offcanvas-width: 280px;
}

.text-center {
  text-align: center;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

li {
  padding: 0;
}

.wrapper {
  background: white;
  min-height: 100vh;
}

.nw {
  white-space: nowrap;
}

li {
  list-style-type: none;
}

a {
  color: #393E51;
  text-decoration: none;
}

button {
  margin: 0;
  border: none;
  background: inherit;
  color: inherit;
  padding: 0;
}

.header {
  background: white;
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #393E51;
}
.header__top {
  height: 40px;
}
.header__bot {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
.header__bot__left {
  display: flex;
  flex-direction: row;
}
.header__bot__btn {
  width: 175px;
  height: 46px;
  border-radius: 10px;
  border: none;
  background: #3D518C;
  color: #F8F5F0;
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-right: 24px;
}
.header__bot__fish {
  margin: 11px 8px 16px 32px;
}
.header__bot__search {
  width: 400px;
  border-radius: 10px;
  border-top-color: #BDAA8A;
  border: 1px solid #BDAA8A;
  display: flex;
  align-items: center;
}
.header__bot__search input {
  padding-left: 16px;
  width: 85%;
  height: 22px;
  border: none;
  background: inherit;
  color: #BDAA8A;
  margin-right: 24px;
}
.header__bot__search input:active, .header__bot__search input:hover, .header__bot__search input:focus {
  outline: 0;
  outline-offset: 0;
}
.header__bot__search input::placeholder {
  color: #BDAA8A;
}
.header__bot__search__btn {
  background-image: url("/assets/icons/search-01.svg");
  height: 24px;
  width: 24px;
}
.header__bot__basket-like {
  display: flex;
  align-items: center;
}
.header__bot__basket-like button {
  margin-right: 24px;
}
.header__bot__basket-like button:last-child {
  margin-right: 0;
}

.dropdown-menu {
  width: 175px;
}
.dropdown-menu__ul {
  margin-left: 35px;
  margin-top: 20px;
}
.dropdown-menu__item {
  margin-bottom: 8px;
}
.dropdown-menu__item:last-child {
  margin-bottom: 20px;
}

.open-lm {
  padding: 0;
  margin-right: 16px;
}

.contact {
  height: 24px;
}
.contact__location {
  margin-right: 24px;
}
.contact__phone {
  margin: 0 8px 0 0;
}
.contact__time {
  color: #BDAA8A;
  margin: 0;
}
.contact img {
  color: #393E51;
  margin: 0 8px 0 0;
}

.menu-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.icons img {
  margin-right: 10px;
}

.main {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 100vh;
  background: white;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 211px;
  background: #3D518C;
  color: white;
}
.footer a {
  color: white;
}
.footer__col__dev {
  margin-top: 46px;
}
.footer__col__title {
  padding: 0;
  margin-bottom: 20px;
}
.footer__col__li {
  padding: 0;
  margin-bottom: 8px;
}
.footer__col__li:last-child {
  margin-bottom: 0;
}
.footer__col img {
  width: 150px;
  height: 66px;
}

.left-menu-top {
  margin: 12px 20px auto 20px;
  color: #393E51;
  height: 100%;
}
.left-menu-top__header {
  padding-bottom: 20px;
}
.left-menu-top__main li {
  margin-bottom: 20px;
}
.left-menu-top__main li:last-child {
  margin-bottom: 0;
}
.left-menu-top__main__btn {
  padding: 0;
}
.left-menu-top__main__list li {
  margin-bottom: 12px;
}
.left-menu-top__main__list li:first-child {
  margin-top: 12px;
}
.left-menu-top__main__list li:last-child {
  margin-bottom: 0;
}

.mob-bot {
  width: 240px;
  justify-content: center;
  padding-bottom: 10px;
  gap: 20px;
}
.mob-bot__loc {
  gap: 4px;
}

.btn-phone {
  width: 240px;
  color: white;
  border-radius: 10px;
  text-align: center;
  background: #BDAA8A;
}

.dir-up {
  transition: transform 0.3s ease;
  display: inline-block;
  margin-left: 4px;
}

.rotate {
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footer__col {
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__col__title {
    margin-bottom: 16px;
  }
  .footer__col__li {
    margin-bottom: 4px;
  }
  .footer img {
    height: 40px;
  }
  .logo {
    height: 24px;
  }
  .header__bot__basket-like button {
    margin-right: 16px;
  }
  .header__bot__basket-like button:last-child {
    margin-right: 0;
  }
}/*# sourceMappingURL=styles.css.map */