@charset "UTF-8";
:root {
  --bs-body-font-family: "Raleway", sans-serif;
}

.h1 {
  font-size: 50px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.h2 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.h3 {
  font-size: 20px;
  font-weight: 500;
}

.h4 {
  font-size: 18px;
  font-weight: 400;
}

.font-btn {
  font-size: 16px;
  font-weight: 500;
}

.h5 {
  font-size: 16px;
  font-weight: 500;
}

.h6 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.header-footer-h3 {
  font-size: 20px;
  font-weight: 500;
}

.header-footer-h5 {
  font-size: 16px;
  font-weight: 500;
}

.dop {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 0;
}

.about-font {
  font-size: 16px;
  font-weight: 400;
}
.about-font p {
  margin-block-end: 0;
  margin-bottom: 16px;
}

.m1 {
  font-size: 33px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.m2 {
  font-size: 25px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.m3 {
  font-size: 18px;
  font-weight: 500;
}

.m4 {
  font-size: 16px;
  font-weight: 400;
}

.m5 {
  font-size: 14px;
  font-weight: 500;
}

.m5-reg {
  font-size: 16px;
  font-weight: 400;
}

.color-lighter {
  color: rgba(95, 99, 113, 0.6);
}

.gold {
  color: #BDAA8A;
}

.offcanvas {
  --bs-offcanvas-width: 280px;
}

.text-center {
  text-align: center;
}

ul {
  padding-inline-start: 0;
  margin: 0;
}

li {
  padding: 0;
}

.wrapper {
  background: white;
  min-height: 100vh;
}

.nw {
  white-space: nowrap;
}

li {
  list-style-type: none;
}

svg {
  stroke: inherit;
}

a {
  color: #393E51;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.btn-blue:hover {
  background: #334681;
}

.icons-blue {
  stroke: #3D518C;
}
.icons-blue:hover {
  stroke: #BDAA8A;
}

.icons-gold {
  stroke: #BDAA8A;
}
.icons-gold:hover {
  stroke: #3D518C;
}

button {
  margin: 0;
  border: none;
  background: inherit;
  color: inherit;
  padding: 0;
}

header {
  background: white;
  position: sticky;
  top: 0;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  color: #393E51;
  z-index: 100;
}

.header-top {
  padding-top: 10px;
}

.menu-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
}

.header-bot {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
.header-bot__left {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-right: 24px;
}
.header-bot__btn {
  width: 175px;
  height: 46px;
  border-radius: 10px;
  border: none;
  background: #3D518C;
  color: #F8F5F0;
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-right: 24px;
}
.header-bot__fish {
  margin: 11px 0 14px 0;
}

.btn-img {
  margin: 0 8px 0 32px;
  width: 39px;
}

.header-search {
  max-width: 648px;
  min-width: 400px;
  border-radius: 10px;
  border-top-color: #BDAA8A;
  border: 1px solid #BDAA8A;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-search input {
  padding-left: 16px;
  flex-grow: 1;
  height: 22px;
  border: none;
  background: inherit;
  color: #BDAA8A;
  margin-right: 24px;
}
.header-search input:active, .header-search input:hover, .header-search input:focus {
  outline: 0;
  outline-offset: 0;
}
.header-search input::placeholder {
  color: #BDAA8A;
}
.header-search__btn {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

.basket-like {
  display: flex;
  align-items: center;
}
.basket-like__icon {
  margin-right: 24px;
}
.basket-like__icon:last-child {
  margin-right: 0;
}

.dropdown-menu {
  width: 175px;
  padding: 0;
}
.dropdown-menu__ul {
  margin: 20px 18px 20px 16px;
}
.dropdown-menu__item {
  margin-bottom: 8px;
}
.dropdown-menu__item:last-child {
  margin-bottom: 0;
}

.open-lm {
  padding: 0;
  margin-right: 16px;
}

.contact {
  height: 24px;
}
.contact__location {
  margin-right: 24px;
}
.contact__phone {
  margin: 0 8px 0 0;
}
.contact__time {
  color: #BDAA8A;
  margin: 0;
}
.contact img {
  color: #393E51;
  margin: 0 8px 0 0;
}

.main {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  min-height: 100vh;
  background: white;
}

.main-content {
  margin: 100px 0 0 0;
  color: #393E51;
}

.Main-swiper {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}
.Main-swiper a {
  text-decoration: none;
}
.Main-swiper a:hover {
  text-decoration: none;
}

.slider-group {
  margin-top: 48px;
}

.slide-big-text {
  line-height: 1.2;
  font-size: 50px;
  font-weight: 700;
  font-family: "Champagne & Limousines", sans-serif;
}

.slide-small-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.slide-btn {
  background: white;
  color: #3D518C;
  border-radius: 10px;
  width: 192px;
  height: 48px;
}
.slide-btn:hover {
  background: #F8F5F0;
}
.slide-btn__text-btn {
  padding: 14px 24px;
}

.slide1 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/icons/Main screen swiper.svg");
}
.slide1__text {
  color: white;
  height: inherit;
}

.slide2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/icons/Main screen swiper2.svg");
}
.slide2__text {
  color: white;
  height: inherit;
}

.arrow {
  stroke: white;
}
.arrow:hover {
  opacity: 0.5;
}

.left-arrow {
  margin-left: 30px;
  rotate: 180deg;
  margin-right: 8px;
}

.swiper-pagination {
  margin-bottom: 30px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 5px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  margin-right: 16px;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.marquee {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  width: auto;
  display: inline-block;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marquee-desktop {
  height: 50px;
  margin-top: 40px;
  background-color: #F8F5F0;
  font-family: "Champagne & Limousines", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #BDAA8A;
}
.marquee-desktop span {
  display: inline-block;
  padding-right: 80px;
}
.marquee-desktop span:last-child {
  padding-right: 0;
}

.marquee-mobile {
  height: 50px;
  background-color: #BDAA8A;
  font-family: "Champagne & Limousines", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: white;
}
.marquee-mobile span {
  display: inline-block;
  padding-right: 50px;
}
.marquee-mobile span:last-child {
  padding-right: 0;
}

.pop-categories__header {
  margin-top: 100px;
  margin-bottom: 31.5px;
}
.pop-categories__header__title {
  margin-right: 8px;
}
.pop-categories__footer-btn-group {
  margin-top: 20px;
}

.card {
  background: #F8F5F0;
  height: 312px;
  margin: 8.5px;
  border-radius: 24px;
  border: none;
}
.card:hover {
  background: #fef5e9;
}
.card__text {
  margin: 24px 0 0 24px;
}

.arrow-main {
  stroke: #3D518C;
}
.arrow-main:hover {
  stroke: white;
  fill: #3D518C;
}

.img-box {
  display: flex;
  justify-content: end;
  align-items: end;
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  padding-right: 10px;
}
.img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* или contain */
}

.goods-slider {
  margin-bottom: 100px;
}
.goods-slider__header {
  margin-bottom: 40px;
}
.goods-slider .swiper-button-disabled {
  stroke: gray;
  pointer-events: none;
}

.goods-slider-card {
  width: 250px;
  height: auto;
  border: #BDAA8A 1px solid;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.goods-slider-card__img-box {
  padding-top: 100%;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: block;
}
.goods-slider-card__img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* или contain */
}
.goods-slider-card__like {
  position: absolute;
  top: 0;
  right: 0;
  stroke: #3D518C;
}
.goods-slider-card__like:hover {
  stroke: #BDAA8A;
}
.goods-slider-card__discount {
  text-align: center;
  font-size: 16px;
  font-family: "Raleway";
  font-style: 400;
  color: white;
  width: 51px;
  background: #3D518C;
  border-radius: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.goods-slider-card__price-box {
  margin-top: 16px;
  margin-bottom: 16px;
}
.goods-slider-card__new-price {
  margin-right: 8px;
  color: #3D518C;
}
.goods-slider-card__old-price {
  text-decoration: line-through;
}
.goods-slider-card__buy-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goods-slider-card__stoke {
  height: 16px;
  width: 77px;
  background: #F8F5F0;
  border-radius: 4px;
  color: #334681;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-slider-card__stoke .dot {
  margin-right: 6px;
  margin-left: 6px;
}
.goods-slider-card__basket {
  height: 40px;
  width: 40px;
  background: #3D518C;
  border-radius: 10px;
  stroke: white;
}
.goods-slider-card__basket:hover {
  background: #BDAA8A;
}

.about__bg {
  background: #F8F5F0;
}
.about__text-box {
  margin-left: calc((100vw - 1280px) / 2);
  padding: 115px 60px 154px 0;
  color: #5F6371;
}
.about__title {
  margin-bottom: 40px;
  color: #393E51;
}
.about__img {
  background: url("../assets/icons/Main screen swiper2.svg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 211px;
  background: #3D518C;
  color: white;
}
.footer a {
  color: white;
}
.footer__title {
  padding: 0;
  margin-bottom: 20px;
}
.footer__li {
  padding: 0;
  margin-bottom: 8px;
}
.footer__li:last-child {
  margin-bottom: 0;
}
.footer img {
  width: 150px;
  height: 66px;
}

.lob-dig {
  text-decoration-line: underline;
}

.left-menu-top {
  margin: 12px 20px auto 20px;
  color: #393E51;
  height: 100%;
}
.left-menu-top__header {
  padding-bottom: 20px;
}
.left-menu-top__main__btn {
  padding: 0;
}
.left-menu-top__li {
  margin-bottom: 20px;
}
.left-menu-top__li:last-child {
  margin-bottom: 0;
}

.list-li {
  margin-bottom: 12px;
}
.list-li:first-child {
  margin-top: 12px;
}
.list-li:last-child {
  margin-bottom: 0;
}

.mob-top-menu__li {
  margin-bottom: 20px;
}
.mob-top-menu__li:last-child {
  margin-bottom: 0;
}

.mob-bot {
  width: 240px;
  justify-content: center;
  padding-bottom: 12px;
  gap: 20px;
}
.mob-bot__loc {
  gap: 4px;
}

.btn-phone {
  height: 38px;
  width: 240px;
  color: white;
  border-radius: 10px;
  text-align: center;
  background: #BDAA8A;
}

.dir-up {
  transition: transform 0.3s ease;
  display: inline-block;
  margin-left: 4px;
}

.rotate {
  transform: rotate(180deg);
}

.messengers {
  gap: 24px;
}

@media (max-width: 1280px) {
  .about__text-box {
    margin-left: auto;
    padding-left: 40px;
  }
}
@media (max-width: 992px) {
  .h1 {
    font-size: 33px;
    font-weight: 700;
    font-family: "Champagne & Limousines", sans-serif;
  }
  .h2 {
    font-size: 25px;
    font-weight: 700;
    font-family: "Champagne & Limousines", sans-serif;
  }
  .h3 {
    font-size: 18px;
    font-weight: 500;
  }
  .h4 {
    font-size: 16px;
    font-weight: 400;
  }
  .h5 {
    font-size: 14px;
    font-weight: 500;
  }
  .about-font {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }
  .main-content {
    margin: 100px 20px 0 20px;
  }
  .Main-swiper {
    height: 700px;
  }
  .slider-group {
    margin-top: 40px;
  }
  .slide-small-text {
    margin-top: 16px;
    font-size: 16px;
  }
  .slide-big-text {
    margin-top: 80px;
    font-size: 33px;
  }
  .goods-slider {
    margin-bottom: 50px;
  }
  .goods-slider-card {
    width: 150px;
    height: auto;
    padding: 8px;
  }
  .card {
    max-height: 260px;
  }
  .about__text-box {
    margin-left: auto;
    padding: 50px 20px;
  }
  .about__img {
    height: 368px;
    width: 100%;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .footer__col {
    padding-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer__col:first-child {
    margin-bottom: 40px;
  }
  .footer__title {
    margin-bottom: 16px;
  }
  .footer__li {
    margin-bottom: 4px;
  }
  .footer img {
    height: 40px;
  }
  .logo {
    height: 24px;
  }
  .basket-like__icon {
    margin-right: 16px;
  }
  .basket-like__icon:last-child {
    margin-right: 0;
  }
}/*# sourceMappingURL=styles.css.map */